<article>
    <div class="row">
        <div class="col-xs-12">
            <h3>$title
                <p class="pull-right">
                    <small>$date</small>
                </p>
            </h3>
        </div>
    </div>

    <p>$content $adminaction</p>

    <aside>
        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="bi bi-person-fill"></span> by $poster
                    | <span class="bi bi-calendar-date-fill"></span> $date
                    | %rating% $ratingpic
                    <br> <span class="bi bi-link"></span> $related<br/>
                    <span class="bi bi-pencil-square"></span> $tags
                    </p>
            </div>
            <div class="col-md-4">$rateform</div>
        </div>
    </aside>
</article>
