<section class="panel panel-default">
    <div class="panel-body ws-comments">
        <div class="pull-left avatar hidden-xs">
            $avatar
        </div>
		<div class="col-md-6">
	        <div class="pull-left">
	            $content<br>
	        </div>
		</div>
    </div>

    <footer class="panel-footer">
        <p>
            <span class="fa fa-user"></span> by $poster
            | <span class="fa fa-calendar"></span> $date
            <span class="pull-right">$edit $actions</span>
        </p>
    </footer>

</section>
