<div class="card">
    <div class="card-header">
        <h3 class="card-title">$headline1</h3>
    </div>
    <div class="card-body">
        $imprint_head
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">$headline2</h3>
    </div>
    <div class="card-body">
        <p>%coding_info%</p>

        <p>
            Copyright 2005-2015 by webspell.org - <a href="http://www.webspell.org" target="_blank">
            <strong>webSPELL.org</strong></a>
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">%disclaimer%</h3>
    </div>
    <div class="card-body">
        %disclaimer_text%
    </div>
</div>
