<div class="row">
	<div class="col-xs-8">
		<div class="panel panel-default">
        	<div class="panel-heading">%buddylist%</div>
            <table class="table table-hover">
                <tbody>
                $buddylist
            </table>
        </div>
    </div>

	<div class="col-xs-4">
		<ul class="list-group">
        	<li class="list-group-item text-muted">Quick Links</li>
        	<li class="list-group-item"><a href="index.php?site=profile&amp;id=$id"><span class="bi bi-person-fill"></span> %profile%</a></li>
            <li class="list-group-item"><a href="index.php?site=profile&amp;id=$id&amp;action=galleries"><span class="bi bi-camera"></span> %galleries%</a></li>
            <li class="list-group-item active"><span class="bi bi-people-fill"></span> %buddys%</li>
            <li class="list-group-item"><a href="index.php?site=profile&amp;id=$id&amp;action=lastposts"><span class="bi bi-chat-fill"></span> %last% $profilelast %posts%</a></li>
            <li class="list-group-item"><a href="index.php?site=profile&amp;id=$id&amp;action=guestbook"><span class="bi bi-book"></span> %guestbook%</a></li>
        </ul>
    </div>
</div>