<div class="col-xs-12">
	<ul class="list-inline">
		<li><a href="index.php?site=profile&amp;id=$id"><span class="bi bi-person-fill"></span> %profile%</a></li>
		<li><a href="index.php?site=profile&amp;id=$id&amp;action=galleries"><span class="bi bi-camera"></span> %galleries%</a></li>
		<li><a href="index.php?site=profile&amp;id=$id&amp;action=buddys"><span class="bi bi-people-fill"></span> %buddys%</a></li>
		<li><a href="index.php?site=profile&amp;id=$id&amp;action=lastposts"><span class="bi bi-chat-fill"></span> %last% $profilelast %posts%</a></li>
		<li class="active"><span class="bi bi-book"></span> %guestbook%</li>
	</ul>
</div>